.button{
    font-size: 20px;
    width: auto;
    height: 60px;
    min-width: 80px;
    text-align: center;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background-color: rgb(30, 75, 254);
    padding: 10px;
}

.button:disabled{
    background-color: rgb(30, 75, 254, 0.3);
    cursor: not-allowed;
}

.button:hover{
    box-shadow:0 0 10px rgba(0,0,0,0.5);
}